<mat-card class="tarefa-card">
  <mat-card-header>
    <mat-card-title>{{ nome() }}</mat-card-title>
  </mat-card-header>

  <mat-card-content>
    <p>
      <strong>Status:</strong>
      @if (status() === 'concluida') {
        Tarefa concluída
      } @else if (status() === 'em andamento') {
        Em andamento
      } @else {
        Pendente
      }
    </p>

    <p>
      <strong>Prioridade:</strong>
      @if (prioridade() === 'alta') {
        Alta
      } @else if (prioridade() === 'media') {
        Média
      } @else {
        Baixa
      }
    </p>
  </mat-card-content>

  <mat-card-actions>
    <button mat-button color="primary" type="button" (click)="aoClicarEditar()">Editar</button>

    <button mat-button color="warn" type="button" (click)="aoClicarRemover()">Remover</button>
  </mat-card-actions>
</mat-card>
